.security_and_price{
    background-color: var(--background-color);
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.security{
    padding-right: 25px;
    padding-left: 25px;
}
.security__date{
    color: var(--main-color);
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 32px;
    white-space: nowrap;
}
.security__title{
    color: var(--text-color2);
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 12px;
}
.security__btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}
.security__btn{
    color: var(--btn-color);
    font-size: 1.125rem;
    font-weight: 400;
    background-color: transparent;
    border: 1px solid var(--btn-color);
    padding: 8px 12px;
    border-radius: 50px;
}
.security__info{
    color: var(--text-color2);
    line-height: 1.5;
    margin-bottom: 32px;
}
.security__href{
    color: var(--main-color);
    text-decoration: underline;
}
.price{
    padding-right: 12px;
    padding-left: 12px;
}
.price__wrapper{
    background-color: var(--text-color2);
    padding: 43px 32px 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price__img{
    margin-bottom: 28px;
}
.price__title{
    align-self: flex-start;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 1.25rem;
}
.price__text{
    color: var(--another-color);
    align-self: flex-start;
    margin-bottom: 24px;
}
.price__box{
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}
.price__box-text{
    position: relative;
    font-weight: 600;
    font-size: 1.125rem;
    text-decoration: line-through;
    color: var(--text-line);
}
.price__box-text::after{
    content: "784 ₽";
    position: absolute;
    color: var(--text-color);
    white-space: nowrap;
    font-weight: 700;
    font-size: 2rem;
    top: 20px;
    left: 0;
}
.price__box-text2{
    font-size: 0.875rem;
}
.defense{
    background-color: var(--text-color2);
    padding: 24px 12px 48px;
}
.gadgets{
    margin-bottom: 12px;
}
.gadgets, .components{
    position: relative;
    background-color: var(--background-color2);
    padding: 24px;
    border-radius: 16px;
    height: 210px;
}
.gadgets::after{
    content: '';
    background: url("../../images/image2.png") no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 120px;
    height: 120px;
}
.components::after{
    content: '';
    background: url("../../images/image3.png") no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 120px;
    height: 120px;
}
.gadgets__items, .components__items{
    font-weight: 600;
}
.gadgets__item:first-child, .components__item:first-child{
    margin-top: 13px;
}
.gadgets__item, .components__item{
    color: var(--another-color);
    font-weight: 400;
    line-height: 1.5;
}
.btn.second{
    width: 100%;
}
@media screen and (min-width:480px){
    .security_and_price{
        padding-top: 60px;
        padding-bottom: 45px;
        gap: 60px;
        border-radius: 32px;
    }
    .security__btns{
        justify-content: flex-start;
        gap: 12px;
    }
    .price{
        padding-right: 27px;
        padding-left: 27px;
    }
    .price__title{
        font-size: 1.5rem;
    }
    .price__text{
        white-space: wrap;
        margin-right: 10px;
    }
    .gadgets__items, .components__items{
        font-size: 1.5rem;
    }
    .gadgets__item, .components__item{
        font-size: 1rem;
    }
    .gadgets::after, .components::after{
        width: 220px;
        height: 220px;
        background-image: url("../../images/img-2\(480\).png");
    }
    .components::after{
        background-image: url("../../images/img-3\(480\).png");
    }
    .defense{
        padding-right: 0;
        padding-left: 0;
    }
}
@media screen and (min-width:768px){
    .security_and_price{
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .security{
       padding-right: 64.5px;
       padding-left: 64.5px; 
    }
    .security__title{
        font-size: 2rem;
    }
    .security__info{
        font-size: 1.25rem;
        margin-right: 100px;
    }
    .price{
        padding-right: 168px;
        padding-left: 168px;
    }
    .defense{
        display: flex;
        gap: 16px;
        padding-top: 41px;
        padding-bottom: 64px;
    }
    .gadgets,.components{
        padding: 32px;
        width: 50%;
        height: 590px;
        margin: 0;
    }
    .gadgets::after{
        background-image: url("../../images/img-2\(768\).png");
        width: 340px;
        height: 340px;
    }
    .components::after{
        background-image: url("../../images/img-3\(768\).png");
        width: 340px;
        height: 340px;
    }
}
@media screen and (min-width:1920px){
    .security_and_price{
        flex-direction: row;
        align-items: center;
        padding-right: 100px;
        padding-left: 100px;
        gap: 64px;
    }
    .security,.price{
        padding-right: 0;
        padding-left: 0;
    }
    .security{
        width: 63%;
    }
    .price{
        width: 44%;
    }
    .defense{
        gap: 32px;
        padding-top: 64px;
        padding-bottom: 166px;
    }
    .gadgets, .components{
        padding: 64px;
        height: 490px;
        margin: 0;
    }
    .gadgets__items,.components__items{
        font-size: 2rem;
    }
    .gadgets__item,.components__item{
        font-size: 1.25rem;
    }
}