:root{
    --main-color: #69B42E;
    --hover-color: #80BF4D;
    --another-color: #666666;
    --background-color:#1A1A1A;
    --text-color: #000000;
    --text-color2: #FFFFFF;
    --btn-color: #D9D9D9;
    --background-color2:#F2F2F2;
    --background-footer: #212121;
    --text-footer:#C6C7C8;
    --text-line: #B3B3B3;
}